.stepWrap {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1024px) {
        flex-direction: column;
        background-color: #CDD6E5;
        border-radius: 30px;
    }
}

.step {
    background-color: #CDD6E5;
    width: 300px;
    position: relative;
    border-radius: 30px;

    @media (max-width: 1024px) {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 20px;
    }

    @media (max-width: 768px) {}
}

.number1 {
    margin-top: 30px;
    margin-left: 30px;

    @media (max-width: 1024px) {
        margin-top: 0;
        margin-left: 0;
    }

    @media (max-width: 768px) {
        width: 25px;
        height: 99px;
    }
}

.number2 {
    margin-top: 30px;
    margin-left: 30px;

    @media (max-width: 1024px) {
        margin-top: 0;
        margin-left: 0;
    }

    @media (max-width: 768px) {
        width: 66px;
        height: 102px;
    }
}

.number3 {
    margin-top: 30px;
    margin-left: 30px;

    @media (max-width: 1024px) {
        margin-top: 0;
        margin-left: 0;
    }

    @media (max-width: 768px) {
        width: 64px;
        height: 103px;
    }
}

.stepTitle {
    font-size: 30px;
    color: #33363B;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.subtitle {
    color: #33363B;
    text-align: center;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.titleWrap {
    width: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 1024px) {
        position: static;
        top: auto;
        left: auto;
        transform: none;
        margin-left: auto;
    }
}