@import "../../styles/variables";

.hero {
    display: flex;
    margin-top: 70px;
}

.hero__titleWrap {
    display: flex;
    flex-direction: column;

}

.hero__title {
    font-size: 75px;
    font-family: var(--font-gropled);
}

.hero__subtitle {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hero__btn {
    background-color: $corporate-color;
    color: white;
    border-radius: 10px;
    padding: 10px 60px;
    margin-top: 20px;
    width: max-content;
    font-size: 20px;
    display: flex;
    align-items: center;

    &:visited {
        color: white;
    }

}
.hero__btnLink {
    position: relative;
}

.heroArrow {
    position: absolute;
    top: 0px;
    right: 0px
}
