@import "../../styles/variables";

.hero {
    display: flex;
    margin-top: 70px;
    position: relative;

    @media (max-width: 768px) {
        margin-top: 20px;
    }

}

.hero__titleWrap {
    display: flex;
    flex-direction: column;


}

.heroTitle {
    font-size: 75px;
    padding-top: 0;

    @media (max-width: 768px) {
        font-size: 28px;
    }
}

.heroSubtitle {
    color: var(--corporate-color);
    margin-bottom: 80px;
    width: 250px;

    @media (max-width: 768px) {
        margin-bottom: 10px;
    }
}

.background {


    @media (max-width: 1160px) {
        background: url("/img/hero_img.svg") no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: end;
        background-position: center;
        height: 564px;
    }

    @media (max-width: 768px) {
        background: url("/img/hero-adaptive.svg") no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: end;
        background-position: center;
        height: 265px;
    }
}

.hero__btn {
    background-color: $corporate-color;
    color: white;
    border-radius: 10px;
    padding: 10px 60px;
    margin-top: 20px;
    width: max-content;
    font-size: 20px;
    display: flex;
    align-items: center;

    &:visited {
        color: white;
    }

}

.hero__btnLink {
    position: relative;
}

.heroArrow {
    position: absolute;
    top: 0px;
    right: 0px
}

.heroImg {
    @media (max-width: 1160px) {
        display: none;
    }
}