@import "../../styles/variables";

.justifyStart {
    justify-content: start;
}

.justifyCenter {
    justify-content: center;
}

.btnWrap {
    display: flex;
}

.btn {
    background-color: $corporate-color;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 30px 10px;
    width: max-content;
    position: relative;

    &::after {
        content: "";
        // display: inline-block;
        position: absolute;
        top: 13px;
        width: 24px;
        height: 24px;
        background-image: url("/icons/arrow.svg");
        background-repeat: no-repeat;

        @media (max-width: 768px) {
            top: 7px;
        }
    }

    @media (max-width: 768px) {
        font-size: 14px;
        padding: 8px 26px 8px 15px;
    }
}