@import "../../../styles/variables";

.actions {
  max-width: 300px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: var(--white);
  position: relative;
  z-index: 0;
  // padding: 40px;
  box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.1);

  @media(max-width: 1024px) {
    display: none;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    // padding-bottom: 30px;
    padding: 40px;

  }

  &__button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;

    &:disabled {
      cursor: not-allowed;

      &:nth-child(1) {
        svg {
          stroke: #c7c7c7;
        }

        span {
          color: #33363B;
        }
      }

      &:nth-child(2) {
        svg {
          fill: #c7c7c7;
        }

        span {
          color: #33363B;
        }
      }

      &:nth-child(3) {
        svg {
          fill: #c7c7c7;
        }

        span {
          color: #33363B;
        }
      }

      &:nth-child(4) {
        svg {
          fill: #c7c7c7;
        }

        span {
          color: #33363B;
        }
      }

      svg {
        width: 20px;
        height: 20px;
      }

      span {
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        color: var(--dark);
      }
    }
  }

  &__button:nth-child(1) {
    svg {
      stroke: var(--dark);
    }
  }

  &__button:nth-child(2) {
    svg {
      fill: var(--red);
    }

    span {
      color: var(--red);
    }
  }

  &__button:nth-child(3) {
    svg {
      fill: var(--dark);
    }
  }

  &__button:nth-child(4) {
    svg {
      fill: var(--dark);
    }
  }

  &__downloadButton {
    background-color: #ffffff;
    border: 2px solid var(--primary-color);
    border-radius: 24px;
    gap: 5px;
    padding: 6px 18px;
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  &__downloadText {
    font-size: 16px;
    color: $corporate-color;
  }

  &__downloadIcon {
    // width: 15px;
    // height: 15px;
  }

  &__export {
    margin-top: auto;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 5px;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 8px 8px 14px 4px #0000001a;

    &Text {
      line-height: 16px;
      font-weight: 500;
      color: var(--dark);

    }

    &Buttons {
      display: flex;
      align-items: center;
      gap: 10px;



    }

    &Button {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 6px 18px;
      background: var(--primary-color);
      border-radius: 24px;
      font-size: 16px;



      span {
        line-height: 18px;
        font-weight: 500;
        color: var(--white);

      }

      svg {
        width: 15px;
        height: 15px;
        stroke: var(--white);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .actions {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: max-content;
    padding: 20px;

    &__content,
    &__export {
      display: none;
    }

    >button {
      background: var(--primary-color);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-radius: 100%;

      >svg {
        stroke: #fff;
      }
    }
  }
}



.adaptive {
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: none;

  @media (max-width: 1024px) {
    display: flex;
  }
}

.popup {
  padding: 20px 80px;

  @media(max-width: 800px) {
    padding: 20px;
  }

  &__title {
    font-size: 28px;
    font-weight: bold;
    color: black;
    font-family: var(--font-gropled);
  }

  &__tariff {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    &Wrap {
      text-align: center;

      @media (max-width: 800px) {
        display: flex;
        margin-top: 20px;
      }
    }

    &Price {
      font-family: var(--font-gropled);
      font-size: 30px;
      margin-bottom: 10px;
      margin-top: 20px;

      @media (max-width: 800px) {
        font-size: 40px;
      }

      &Wrap {
        @media (max-width: 800px) {
          display: flex;
          flex-direction: column;
          margin-left: auto;
        }
      }

    }
  }

  &__payment {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-between;

    &Input {
      border: 2px solid #ABABB5;
      padding: 10px 15px;
      border-radius: 5px;
      font-size: 20px;
      width: 200px;

      @media (max-width: 800px) {
        flex-basis: 40%;
        // margin-right: auto;
        font-size: 15px;
        padding: 5px 10px;
      }

      &Wrap {
        display: flex;
        gap: 10px;

        @media (max-width: 800px) {
          gap: 0px;
        }
      }
    }

    &Activate {
      font-size: 20px;
      border: 2px solid $corporate-color;
      color: $corporate-color;
      font-weight: bold;
      background-color: #ffffff;
      padding: 10px 15px;
      border-radius: 5px;
      margin-left: auto;
      margin-right: auto;
      width: 200px;

      @media(max-width: 800px) {
        flex-basis: 40%;
        margin: 0px;
        max-width: 400px;
        font-size: 15px;
        padding: 5px 10px;
      }
    }

    &Btn {
      background-color: $corporate-color;
      color: white;
      padding: 10px 15px;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      width: 200px;

      @media (max-width: 800px) {
        flex-basis: 100%;
        margin-top: 20px;

      }

    }
  }
}



.payment {
  display: flex;
  padding: 70px;
  background-color: #EEF1F6;
}

.user {
  flex-basis: 60%;
}

.iconWrap {
  display: flex;
}

.userInfo {
  margin-left: 70px;
}

.usernameTitle {
  margin-bottom: 5px;
  font-family: var(--font-gropled);
}

.userName {
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}

.eMailTitle {
  margin-bottom: 5px;
  font-family: var(--font-gropled);
}

.eMail {
  color: black;
  font-weight: bold;
}

.authorization {
  margin-top: 110px;
}

.socials {
  display: flex;
}

.socialIcon {
  margin-right: 25px;
}

.terms {
  margin-top: 60px;
  color: #757575;
}

.textColor {
  color: $corporate-color;
}

.pay {
  flex-basis: 40%;
  background-color: #910e0e;

}

.payTitle {
  font-size: 20px;
  font-family: var(--font-gropled);
  color: black;
  margin-bottom: 20px;

}

.paySubtitle {
  margin-bottom: 15px;
  color: #757575;
}